lectures/week1/*.ipynb linguist-language=C
lectures/week2/*.ipynb linguist-language=C
lectures/week3/*.ipynb linguist-language=C
lectures/week4/*.ipynb linguist-language=C
lectures/week5/*.ipynb linguist-language=C
lectures/week6/*.ipynb linguist-language=C
lectures/week7/*.ipynb linguist-language=C

lectures/week8/*.ipynb linguist-language=Python
lectures/week9/*.ipynb linguist-language=Python
lectures/week10/*.ipynb linguist-language=Python